



body{
  background-color: #ffffff;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;

}

#mode-toggle{
    border: navy;
  padding: 10px 20px;
  border-radius: 10px; 

  cursor: pointer;
  margin-bottom: 20px;
}

body.dark-mode{
  background-color: #242323;
  color: #f5f5f5;
}

button.dark-mode{
  background-color: #444444;
  color: #ffffff;
  border: none;
}


#todo-form{
    display: flex;
}

#todo-input{
    flex: 1;
    padding: 15px;
    margin: 6px;
    border: navy;
    border-radius: 10px;
    outline: none; 
   border:  1px solid black;
}

 #btn{
    padding: 0px 10px;
    margin: 5px;
    border-radius: 6px;
    border: none;
}
  

#todo-list{
    list-style-type: none;   
}

.todo-item{
    display: flex; 
    justify-content: space-between;
    margin: 10px;
}

.edit-btn{ 
    border: none;
    cursor: pointer; 
    padding: 5px 15px;
    border-radius: 4px;
}
.delete-btn{ 
    border: none;
    cursor: pointer; 
    padding: 5px 15px;
    border-radius: 4px;
}




.todo-container{
    max-width: 600px;
    padding: 50px;
    margin: 50px auto;
    border-radius: 10px;
}

.completed .task {
    text-decoration: line-through; 
    opacity: 0.6;
}